@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Quicksand&display=swap');
body {
	background-image: linear-gradient(180deg, #FFF3DB 0%, #5C2834 100%);
	margin: 0;
	padding: 0;
}
#wrapper {
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
#wrapper>.inner {
  display: block;
  bottom: 1rem;
}
.main {
	max-width: 30rem;
}
.container {
	display: flex;
	background: white;
	max-width: 100%;
	min-height: 22em;
}
.container>.sidebar {
	flex: 1 1 50%;
	background: center/cover url(bg.jpg);
	display: flex;
}
.sidebar>.inner {
	display: inline-flex;
	width: 100%;
}
.navigation {
	width: 100%;
	list-style: none;
	margin: unset;
	padding: unset;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.navigation ul {
	margin: 0;
	padding: 0;
}
.navigation li {
	background-color: rgba(0, 0, 0, 0.729);
	color: #FFFFFF;
	font-size: 0.8em;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	width: 100%;
	padding: 0.3em 0;
	margin: .2em 0;
}
.navigation li:last-of-type {
	margin-bottom: 1em;
}
.navigation a {
	color: white;
	text-decoration: none;
}
.container>.mainarea {
	background: white;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	align-items: center;
}
.mainarea>.inner {
	padding: 1em;
}
.headertext {
	font-family: 'Poppins', sans-serif;
	font-size: 1.8em;
	z-index: 10;
	display: block;
	text-align: right;
	position: relative;
	top: 1rem;
	letter-spacing: -0.1rem;
}
@media (max-width: 500px) {
	#wrapper {
		padding: 0.3em;
	}
	.headertext {
		font-size: 150%;
	}
	.container>.sidebar {
		flex: 1 1 70%;
	}
}
