body {
  background-image: linear-gradient(180deg, #FFF3DB 0%, #5C2834 100%);
  margin: 0;
  padding: 0;
}
#wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.004) 35%, #FFFFFF 35%), url(bg.jpg);
  width: 580px;
  height: 400px;
  background-position: 60%;
  background-size: cover;
}
.container>.sidebar {
  width: 35%;
}
.container>.mainarea {
  width: 65%;
}
